@font-face {
  font-family: 'Barlow';
  src: url('../Fuentes/Barlow/Barlow-Medium.ttf') format('truetype');
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  padding: 5px 0;
  font-size: 1.5em;
  border-radius: 15px;
  margin: 10px 10%;
  text-align: center;
}

h1{
  color: #333;
  font-size: 50px;
  margin: 10%;
}

h2 {
  color: #333;
  font-size: 25px;
  margin: 10% 10% 2% 10%;
}

nav {
  background-color: #ffdb70;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  margin: 10px 20% 2% 20%;
}

nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.dark {
  background-color: #222222;
  color: #ffffff;
}

.dark h1 {
  color: #ffffff;
}

.dark h2 {
  color: #ffffff;
}

.dark nav {
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2e2e2e;
  border-radius: 34px;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ffdb70;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffdb70;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 10%;
}

#darkmode {
  margin-top: 5%;
  font-size: 15px;
}

#calendar {
  margin: 0 auto;
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#btnAgregarEvento {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background-color: #ffdb70;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btnAgregarEvento:hover {
  background-color: #daac21;
}

#btnBorrarEvento {
  display: block;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  background-color: #ffdb70;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btnBorrarEvento:hover {
  background-color: #daac21;
}

#evento{
  display: flexbox;
  
}

label {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
  padding: 10px;
  margin: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

textarea {
  resize: vertical;
}

.fc-day-header {
  background-color: #444;
  color: #fff;
}

.fc-day,
.fc-today {
  background-color: #fff;
}

.fc-event {
  background-color: #357d35;
  color: #fff;
  border: none;
}

.fc-event:hover {
  background-color: #ffdb70;
}

.evento-estudio {
  background-color: #82b5d7; /* Azul */
  color: #fff;
}

.evento-tarea {
  background-color: #ff4d4d; /* Rojo */
  color: #fff;
}

.evento-examen-final {
  background-color: #ffd633; /* Amarillo */
  color: #fff;
}

.evento-examen-parcial {
  background-color: #4dff4d; /* Verde */
  color: #fff;
}
