@font-face {
  font-family: 'Barlow';
  src: url('../Fuentes/Barlow/Barlow-Medium.ttf') format('truetype');
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1{
  color: #333;
  font-size: 50px;
  margin: 10%;
}

h2 {
  color: #333;
  font-size: 25px;
  margin: 10% 10% 2% 10%;
}

nav {
  background-color: #ffdb70;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  margin: 10px 20% 2% 20%;
}

nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.dark {
  background-color: #222222;
  color: #ffffff;
}

.dark h1 {
  color: #ffffff;
}

.dark h2 {
  color: #ffffff;
}

.dark nav {
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2e2e2e;
  border-radius: 34px;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ffdb70;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffdb70;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

#darkmode {
  margin-top: 5%;
  font-size: 15px;
}

/* Estilo para centrar los eventos */
#evento {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#evento tr {
  display: flex;
  flex-direction: row; /* Cambiado a fila para alinear etiquetas a la izquierda */
  align-items: center;
  margin-bottom: 10px;
}

#evento label {
  margin-right: 10px; /* Añadido margen a la derecha para separar etiquetas de campos de entrada */
}

#evento input,
#evento select,
#evento textarea {
  padding: 8px;
  width: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#btnAgregarEvento,
#btnBorrarEvento,
#btnConfirmarBorrarEvento {
  background-color: #ffdb70;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

#btnAgregarEvento:hover,
#btnBorrarEvento:hover,
#btnConfirmarBorrarEvento:hover {
  background-color: #529fd3;
}

#eventoSeleccionado {
  margin-top: 20px;
}

#selectEvento {
  width: 100%;
  padding: 8px;
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 10px;
}

#calendar {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Agrega un poco de espacio dentro del contenedor */
}

#darkmode {
  margin-top: 10px;
  font-size: 15px;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}